<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div *ngIf="protocolo !== undefined" class="container">
    <div class="alert alert-success" role="alert" style="width: 100%;">
        <h1 class="alert-heading">
          <i class="fa fa-gift fa-2x"></i>&nbsp;
          Pedido Concluído
        </h1>
        <br/>
        Parabés seu pedido foi concluído com sucesso.<br/><br/>
        <strong>Número do Pedido: </strong>{{ protocolo }}
        <br/>
        <hr>
        <a [routerLink]="['/loja/home']" class="btn btn-success">Voltar as compras</a>
        <br/>
        <br/>
    </div>    
</div>

<div *ngIf="protocolo === undefined" class="container">

  <div class="row" *ngIf="carrinhoEstaVazio()">
      <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">
                <i class="fa fa-exclamation-triangle fa-2x"></i>&nbsp;
                Atenção
              </h4>
              Seu carrinho de compras está vazio, mas você pode continuar suas compras na Página inicial.
              <hr>
              <p class="mb-0">
                <button [routerLink]="['/loja/home']" class="btn btn-warning" >Página inicial</button>
              </p>
          </div>        
      </div>
  </div>  

  <div class="row" *ngIf="!carrinhoEstaVazio()">
    <div class="col-md-9">
        
        <h4>
          <i class="fa fa-shopping-basket"></i>
          Carrinho de compras
        </h4>
        <table class="table">
          <caption>Quantidade de itens: {{ quantidadeItensCarrinho() }} | <a href="javascript:void(0)" (click)="onLimparCarrinho()">Excluir todos os itens.</a></caption>
          <thead>
            <tr>
              <th scope="col" style="width: 20%;">&nbsp;</th>
              <th scope="col" style="width: 50%;">&nbsp;</th>
              <th scope="col" style="width: 15%;"><small>Preço</small></th>
              <th scope="col" style="width: 15%;"><small>Quantidade</small></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let itemCarrinho of itensCarrinho">
              <th scope="row">
                <img src="{{ itemCarrinho.urlImagem }} " style="width: 120px; height: 80px;">
              </th>
              <td>
                <span><h6>{{ itemCarrinho.nome }}</h6></span>
                <br/> 
                <a href="javascript:void(0)"  (click)="onExcluirItem(itemCarrinho.idProduto)" >Excluir</a>
              </td>
              <td><span class="text-danger"><h6><strong>{{ itemCarrinho.valorUnitario | currency: 'BRL' }}</strong></h6></span></td>
              <td>{{ itemCarrinho.quantidade }}</td>
            </tr>    
          </tbody>
        </table>
    </div>


    <div class="col-md-3">
        <br/><br/>
        <div class="card" style="width: 18rem;" style="background-color: #FAFAFA;">
          <div class="card-body">
            <h5 class="card-title text-success">
              <i class="fa fa-check"></i>
              PAGAMENTO
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">Você está quase lá!</h6>
            <p class="card-text">
              <br/>
              <span class="text-danger">
                <h5>
                  <strong>
                  Subtotal ({{ quantidadeItensCarrinho() }} {{ quantidadeItensCarrinho() > 1 ? 'itens ' : 'item' }} ):<br/>
                  {{ valorItens() | currency:'BRL' }}
                  </strong>
                </h5>
              </span>
              <br/>
            </p>            
            <hr>
            <div *ngIf="usuarioEstaLogado()">
              <button *ngIf="usuarioEstaLogado()" style="width: 100%;" href="#" class="btn btn-success" (click)="onConfirmarCompra()">Confirmar compra</button>            
            </div>
            <div *ngIf="!usuarioEstaLogado()">              
              <button [routerLink]="['/loja/login-cliente']"  style="width: 100%;" href="#" class="btn btn-warning">Fazer login</button>
            </div>            
            
          </div>
        </div>
        
        <br/>
        
        <div *ngIf="enderecos.length !== 0" class="card" style="width: 18rem;" style="background-color: #FAFAFA;">
            <div class="card-body">
                <h5 class="card-title text-success">
                  <i class="fa fa-address-card"></i>
                  SEU ENDEREÇO
                </h5>
            </div>
            <p class="card-text" style="padding: 3px;">
              &nbsp;&nbsp; {{ enderecos[0].logradouro }} - {{ enderecos[0].numero }}<br/>
              &nbsp;&nbsp; {{ enderecos[0].complemento }} / {{ enderecos[0].bairro }}<br/>
              &nbsp;&nbsp; {{ enderecos[0].cidade }}<br/>
              &nbsp;&nbsp; {{ enderecos[0].cep }} / {{ enderecos[0].uf }}<br/>
              <br/>
              <br/>
            </p>
        </div>
        
    </div>    
  </div>     

  <!--  
  <div class="row">
      <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">
                <i class="fa fa-exclamation-triangle fa-2x"></i>&nbsp;
                Atenção
              </h4>
              Você ainda não entrou no sistema com seus dados de login.
              <hr>
              <p class="mb-0">
                <button [routerLink]="['/loja/login-cliente']" class="btn btn-warning" >Faça seu login</button>
              </p>
          </div>        
      </div>
  </div>
  -->

</div> 