<br/>
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb" style="background-color: white;">
        <li class="breadcrumb-item"><a [routerLink]="['/loja/home']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Login do Cliente</li>
      </ol>
    </nav>

    <form class="form-signin" [formGroup]="formLogin" (ngSubmit)="onConfirmar()">
        <h2 class="h3 mb-3 font-weight-normal">Informe seus dados</h2>
        <label for="inputEmail" class="sr-only">E-mail</label>
        <input type="email" formControlName="email" class="form-control" placeholder="Informe seu e-mail" required autofocus>
        <br/>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" formControlName="senha" class="form-control" placeholder="Informe sua senha" required>
        <button class="btn btn-lg btn-warning btn-block" type="submit" [disabled]="!formLogin.valid">Acessar</button>
        <br><br>
        <!--
        <div class="alert alert-warning" role="alert" style="width: 100%;">
            <table>
              <thead>
                <tr>
                  <th width="75%"><small><strong>Login</strong></small></th>
                  <th width="25%"><small><strong>senha</strong></small></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><small>cliente@gmail.com</small></td>
                  <td><small>password</small></td>
                </tr>
                <tr>
                  <td><small>vendedor@gmail.com</small></td>
                  <td><small>password</small></td>
                </tr>
                <tr>
                  <td><small>admin@gmail.com</small></td>
                  <td><small>password</small></td>
                </tr>
              </tbody>
            </table>        
        </div> 
        -->
    </form>    
</div>
