<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="text-center container">
    <div class="alert alert-warning" role="alert" style="width: 100%;">
        <h1 class="alert-heading">
          <i class="fa fa-lock fa-2x"></i>&nbsp;
          Acesso negado
        </h1>
        <br/>
        Você está tentando acessar uma área restrita. Por favor, efetue o login.
        <br/>
        <hr>
        <a [routerLink]="['/loja/login-cliente']" class="btn btn-warning">Fazer login</a>
        <br/>
        <br/>
    </div>   
</div>