<div class="card cartao_produto">
    <img class="card-img-top" src="{{ produto.imagem }} " tooltip="{{ produto.nome }} " style="width: 253px; height: 150px;">
    <div class="card-body">
      <h5 class="card-title">{{ produto.nome }} </h5>
      <p class="card-text">{{ produto.descricao }}</p>
      <p class="card-text">{{ produto.valorUnitario | currency:'BRL':true }}</p>
      <!--
      <a href="#" class="btn btn-primary">Detalhe</a> 
      &nbsp;
      -->
      <button tooltip="Clique aqui para comprar esse produto" class="btn btn-warning" (click)="onComprar()">Comprar</button>
    </div>
  </div>
  <br/>