<br/>
<br/>
<br/>
<br/>
<div>
    <nav aria-label="breadcrumb" >
      <ol class="breadcrumb" style="background-color: white;">
        <li class="breadcrumb-item"><a [routerLink]="['/administrativo/console']" routerLinkActive="router-link-active" >Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Controle de Vendas</li>
      </ol>
    </nav>

    <div class="row">
        <div class="col-md-3">
          <!-- Menu de categorias -->
          <div class="p-3 mb-3 bg-light rounded" style="margin: 10px; border: 3px solid #E6E6E6;">
            <h5 class="font-italic">Menu</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" [routerLink]="['/loja/area-do-cliente/historico-de-compras']">
                  <i class="fa fa-history"></i>
                  Realizar Vendas
                </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/loja/area-do-cliente/reclamacoes']">
                    <i class="fa fa-book"></i>
                    Pesquisar Pedidos
                  </a>
                </li>              
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/loja/area-do-cliente/meus-dados']">
                    <i class="fa fa-user"></i>
                    Manutenção de Clientes
                  </a>
                </li>              
            </ul>
          </div>
        </div>
    
        <div class="col-md-9">
          <router-outlet></router-outlet>
        </div>
  </div>        

</div>